#movies img, #movie img{
    width: 100%;
}

.well{
    border: 1px solid black;
    background-color: rgb(31, 31, 31);
}

@media (min-width: 960px){
    #movies .col-md-3 .well{
        height: 350px;
    }
    
    #movies .col-md-3 img{
        height: 240px;
    }
}
